.side_bar
  .header 
    .header__name
      Name
    .header__icon
      = link_to "#", class: "header__icon--white" do
        = icon("fas", "edit")
      = link_to "#", class: "header__icon--white" do
        = icon("fas", "cog")

  .contents
    .contents__title
      test1
    .contents__message
      まだメッセージはありません
    .contents__title
      test2
    .contents__message
      まだメッセージはありません
